*{
    margin: 0;
    padding: 0; 
    font-family: sans-serif;
    color: white;
}
.hero{
    height:200%;
    width: 100%;
    background: #381844;
    background-position: center;
    background-size: cover;
    position: absolute;
}
h1{
    margin: 50px 0px 20px 41%;
    padding: 2px;
    position: relative;
}
.form-box{
    width: 500px;
    height: 1150px;
    position: relative;
    margin: 6% auto;
    background: #381844;
    padding: 5px;
    box-shadow: 0 0 20px 9px #30143A;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #30143A;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    right: 0;
    position: absolute;
    width: 120px;
    height: 100%;
    background: #AC90B7;
    border-radius: 30px;
    transition: .5s;
}

.input-group{
    top: 160px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 110%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 40%;
    padding: 10px 20px;
    margin: 25px 10px 25px 15px;
    cursor: pointer;
    display: inline;
    background: #381841;
    border: 1px solid black;
    outline: none;
    border-radius: 30px;
    
}
.submit-btn:hover{
    background-color: darkviolet;
}
.radio-field{
    margin: 25px 10px 25px 10px;
}
#technician{
    left: 100px;
}
.cat{
    background-color: #381844;
    margin: 25px 10px 25px 10px;
}