* {
    background-color: #381844;
    padding: cover;
    color: beige;
    font-family: sans-serif;
}
.form-box{
    width: 500px;
    height: 500px;
    position: relative;
    margin: 6% auto;
    background: #381844;
    padding: 5px;
    box-shadow: 0 0 20px 9px #30143A;
}
h1{
    margin: 50px 0px 20px 41%;
    padding: 2px;
    position: relative;
}
.input-group{
    top: 160px;
    position: absolute;
    width: 280px;
    transition: .5s;
    margin: 0px 0px 0px 100px;
}
.input-field{
    width: 110%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 40%;
    padding: 10px 20px;
    margin: 10px 10px 10px 15px;
    cursor: pointer;
    display: inline;
    background: #381841;
    border: 1px solid black;
    outline: none;
    border-radius: 30px;
}
.submit-btn:hover{
    background-color: darkviolet;
}
h5{
    margin: 10px 10px 25px 25px;
}
a:hover{
    color: mediumblue;
}
