*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: #381844;
}
.cover_profile{
    
    width: 100%;
    height: 60vh;
}
.cover{
    background-image: url(../images/adminMan.jpg);
    background-size: cover;
    background-position: center;
    height: 45vh;  
}
.profile{
    background-image: url(../images/profilePic.png);
    width: 4vh;
    height: 4vh;
    position: relative;
    top: 150px;
    left: 160px;
    border-radius: 100px;
}